lm::before{
  color: var(--md-default-bg-color);
  font-weight: 600;
  font-size: 80%;
  border-radius: 999ch;
  margin-inline: 0ch 0.6ch;
  padding: 0pt 0.6ch 0pt 0.6ch;
  display: inline;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lm-concept::before{
  background-color: #0f9672;
  content: "CON";
}

.lm-standard::before{
  background-color: #5c13b1;
  content: "STD";
}

.lm-implementation::before{
  background-color: #1586d1;
  content: "IMPL";
}

.lm-application::before{
  background-color: #ee4a34;
  content: "APPL"
}
