@media screen and (min-width: 44.9375em) and (max-width: 76.1875em) {
  .md-content {
    margin-left: 56px;
  }
}

.md-logo {
  display: none !important;
}

@media screen and (min-width: 76.1875em) {
  .md-header-nav__title {
    margin-left: 0.6rem;
  }
}

[data-md-component="header-title"][data-md-state=""] {
  font-weight: 600;
}

.md-nav__title[for="__drawer"] {
  font-weight: 600;
}

dt{
  font-weight: 540;
}
